<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FXCM OAUTH DEMO</title>
</head>
<body>

<% if (access_token) { %>
    <p>Access Token: <%= access_token %></p>
    <p>Refresh Token: <%= refresh_token %></p>
    <div id="login-links">
        <h4><a href="/refresh">Refresh Token</a></h4>
    </div>
<% } else { %>
    <div id="login-links">
        <h4><a href="/authorize?response_type=code">Sign in with FXCM</a></h4>
    </div>
<% } %>

<script src="/js/pkce.js"></script>
</body>
</html>
